.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed-dropdown {
  position: fixed;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
